<section class="main-content">
  <section class="rooms-available">
    <h1>BLOC CHAT:</h1>
    <div ng-repeat="room in home.rooms">
      <ul class="nav nav-pills nav-stacked">
        <li ng-mouseover="hovered = true ">
          <a class="active" ng-show="hovered">{{ room.$value }}</a>
          <a ng-show="!hovered">{{ room.$value }}</a>
        </li>
      </ul>
    </div>
    <p class="button">
      <button ng-click="home.openNewRoomModal()">Create a new room</button>
    </p>
  </section>
</section>
